<script>
   function confirm(event){
      evento = document.querySelector('#form-delete')
      const confirmation = confirm('Deseja deeltar?')
      if (!confirmation){
	 event.preventDefault()
      }
   }


</script>
