<div class="item">
   <div>Nome</div>
   <div class="input">
      <input type="text" name='name' value='{{user.name}}'>
   </div>
</div>

<div class="item">
   <div>Email</div>
   <div class="input">
      <input type="email" name='email' value='{{user.email}}' onblur='Validate.apply(this, "isEmail")'>
   </div>
</div>

<div class="item">
   <div class="check">
   <input type="checkbox" name='is_admin' value='TRUE' {% if user.is_admin == true%}checked{%endif%} id='checkbox-admin'>
      <label for="checkbox-admin">Administrador</label>
   </div>
</div>
