<a class="link-logo" href="/">
    <img class="logo" src="/logo.png" alt="Foodfy">
</a>

<nav>
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
    <a href="/chefs">Chefs</a>
    <a href="/admin/login"><i class=material-icons>account_circle</i>Minha Conta</a>
</nav>
