<link rel="stylesheet" href="/css/general/global.css">
<link rel="stylesheet" href="/css/general/details-card.css">
<link rel="stylesheet" href="/css/general/index-banner.css">
<link rel="stylesheet" href="/css/general/cards-grid.css">
<link rel="stylesheet" href="/css/general/about.css">
<link rel="stylesheet" href="/css/general/chef.css">
<link rel="stylesheet" href="/css/global.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
