{% extends './layout.njk' %}

{% block content %}
   <section class="chef container">
	 {% for chef in chefs %}
	 <div class="card">
	    <img src="{{chef.img}}" alt="{{chef.name}}">
	    <div>
	       <h2>{{chef.name}}</h2>
	       {% if chef.total <= 1%}
	       <p>{{chef.total}} Receita</p>
	       {% else%}
	       <p>{{chef.total}} Receitas</p>
	       {%endif%}
	    </div>
	 </div>
	 {% endfor %}
   </section>
{% endblock content %}
