{% extends './layout.njk' %}
{% import './parts/section-recipes.njk' as section%}

{% block style %}
{% endblock style %}


{% block filter%}
   {% include './parts/filter.njk'%}
{% endblock filter %}

{% block content %}

   <section class='index container'>
      <div class="banner">
         <div class="banner-text">
            <h2>As Melhores Receitas</h2>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
         </div>
	 <img src="/extra/chef.png" alt="Chef">
      </div>

      {{section.recipes('Últimas Receitas', '',  'grid', recipes)}}
   </section>
{% endblock content %}
