{% extends './layout.njk' %}
{% import './parts/section-recipes.njk' as section%}

{% block filter %}

      {% include './parts/filter.njk'%}
      {% endblock filter%}
      {% block content %}
	 {{section.recipes('Buscando por ', search.term,'grid', recipes)}}
   </section>
{% endblock content %}
