{% macro addStep(title, values, add, step, recipes, foo)%}
<div class="item">
   <div>{{title}}</div>
      {% if recipes %}
	 <div class="{{values}}">
	 {% for value in recipes %}
	    <div class='{{add}} input'>
	       <input placeholder='Adicione' type="text" name='{{values}}[]' value='{{value}}'>
	    </div>
	 {% endfor %}
	 </div>
      {% else %}
	 <div class="{{values}}">
	    <div class='{{add}} input'>
	       <input placeholder='Adicione' type="text" name='{{values}}[]' value='{{value}}'>
	    </div>
	 </div>
      {% endif %}
   </div>
   <div class='btn-group'>
      <a class='add-button add-{{add}}' onclick='addRemove.addItem(".{{add}}")'>{{step}}</a>
      <a class="remove-{{add}}" onclick='addRemove.remove(".{{values}}.new")'>remover</a>
   </div>
</div>
{% endmacro %}
