<div class="item">
   <div>Nome</div>
   <div>
      <input value="{{chefs.name}}" type='text' name='name' required>
   </div>
</div>

<div class="item">
   <div>Avatar</div>
   <div class='photo-container'>
      <div id="photos-uploads">
	    <i class="material-icons">add</i>
	    <input 
	       id="images-input"
	       accept='image/*'
	       onchange='PhotosUploads.handleFileInput(event, 1)'
	       type='file' 
	       name='photos'>
      </div>
      <div id="photos-preview">
	 {% if files %}
	 {% for image in files %}
	   <div id="{{image.file_id}}" class='photo'>
	     <img src="{{image.src}}" alt="{{image.name}}">
	     <i class="material-icons"
	     onclick='PhotosUploads.removeOldPhoto(event)'
	     >close</i>
	   </div>
	 {% endfor %}
	   <input type="hidden" name='removed_files'>    
	 {% endif %}
      </div>
   </div>
</div>
