<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="/css/admin/admin.css">
<link rel="stylesheet" href="/css/admin/style.css">
<link rel="stylesheet" href="/css/admin/gallery.css">

<link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap'>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/admin/admin-global.css">
<link rel="stylesheet" href="/css/global.css">


<link rel="stylesheet" href="/css/admin/index-recipe.css">
<link rel="stylesheet" href="/css/admin/chefs-admin.css">
<link rel="stylesheet" href="/css/admin/users.css">
<link rel="stylesheet" href="/css/admin/messages.css">
<link rel="stylesheet" href="/css/admin/session.css">
<link rel="stylesheet" href="/css/admin/animation.css">
