{% import '../parts/add-step.njk' as step %}

<div class="item">
  <div>Imagem da receita</div>
  <div class='photo-container'>
    <div id="photos-uploads">
      <input 
        id='photos-input'
        type='file'
        name='photos'
        multiple
        accept='image/*'
Modo de preparo
        onchange='PhotosUploads.handleFileInput(event, 5)'
        >
        <i class='material-icons'>add</i>
    </div>
    <div id="photos-preview">
      {% if files %}
      {% for image in files %}
        <div id="{{image.id}}" class='photo'>
          <img src="{{image.src}}" alt="{{image.name}}">
          <i class="material-icons"
          onclick='PhotosUploads.removeOldPhoto(event)'
          >close</i>
        </div>
      {% endfor %}
        <input type="hidden" name='removed_files'>    
      {% endif %}
    </div>
  </div>
</div>
<!-- 
<div class="item">
  <div>Imagem da receita</div>
    <div>
      <input type="url" name="image" placeholder="https://" value="{{recipes.image}}">
    </div>
</div>
-->
<div class="item">
  <div>Título</div>
    <div>
      <input type="text" name="title" placeholder="Título" value="{{recipes.title}}">
    </div>
</div>

<div class="item">
   <div>Chef</div>
   <div>
      <select  name="chef_id">
	 {% for chef in chefsOption %}
	    <option value="{{chef.id}}" {% if recipes.chef_id == chef.id %} selected {% endif %}>
	       {{chef.name}}
	    </option>
	 {% endfor %}
      </select>
   </div>
</div>


{{step.addStep('ingredientes', 'ingredients','ingredient', 'Adicione novo ingrediente', recipes.ingredients, recipes.id)}}

{{step.addStep('Modo de preparo', 'preparations', 'preparation', 'Adicionar novo passo', recipes.preparations, recipes.id)}}


<div class="item">
  <div>Informações adicionais</div>

  <div class="information">
    <textarea name="information" cols="30" rows="10">{{recipes.information}}</textarea>
  </div>

</div>
