section.about.container {
   width: 940px;
   align-self: center;
   margin-bottom: 32px;
}
section.about.container h2 {
   font-size: 20px;
   line-height: 28px;
   color: #111;
   margin-top: 20px;
}

section.about.container p {
   font-size: 18px;
   line-height: 28px;
   color: #444;
   text-align: justify;
}
